# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = naoki23
	email = 29481118+naoki23@users.noreply.github.com
[core]
	editor = vim
[alias]
	st = status
	log-all = log --oneline --decorate --graph --all
[init]
	defaultBranch = main
[grep]
	lineNumber = true
